@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-primary: #3B5D4F;
    --color-secundary: #F2BF25;
    --padding-buttons: 16px 36px;
    --buttons-radius: 40px;
    --font-color:#6b6b6b;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 3px solid red; */
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.hero{
    width: 100%;
    height: 700px;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* NAV BAR */

.nav{
    width: 80%;
    padding: 30px 0 80px 0 ;
    display: flex; 
    justify-content: space-between;
}

.logo{
    color: #ffff;
}

.logo__img{
    font-weight: 500;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.nav__lists{
    display: flex;
    gap: 3.5rem;
}

.nav__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__cta{
    color: #e0e0e0c2;
    text-decoration: none;
    font-weight: 500;
}

.nav__cta:hover{
    color: #fff;
}

.nav__icons{
    display: flex;
    gap: 12px;
    cursor: pointer;
}

.nav__icon{
    color: #e0e0e0c2;
    font-weight: 400;
}

.nav__icon:hover{
    color: #fff;
}

/* LANDING */

.landing{
    width: 80%;
    max-width: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing__texts{
    color: #fff;
}

.landing__title{
    font-size: 4rem;
    line-height: 4.6rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.landing__copy{
    color: #e0e0e0c2;
    width: 550px;
    line-height: 2.5;
    margin-bottom: 40px;
}

.landing__buttons{
    display: flex;
    gap: .5rem;

}

.landing__cta{
    color: #000;
    text-decoration: none;
    background-color: var(--color-secundary);
    padding: 16px 36px;
    border-radius: var(--buttons-radius);
    font-weight:500;
    font-size: 1.05rem;
}

.landing__cta--color{
    background-color: var(--color-primary);
    color: #fff;
    outline: 2.3px solid #e0e0e0c2;
}

.landing__cta--background:hover{
    background-color: #ffc720;
}


.landing__cta--color:hover{
    outline: 2.3px solid #fff;
}

.landing__img{
    z-index: 11;
    position: relative;
}

.landing__dots{
    position: absolute;
    right: 120px;
    z-index: 1;
}

/* PRODUCTS SECTION */

.products{
    display: flex;
    padding: 80px 0;
    gap: 12px;
}

.products__tittle{
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px;
    margin-top: 13px;
}

.products__copy{
    font-size: 1.05rem;
    line-height: 2;
    color: rgb(107, 107, 107);
    margin-bottom: 40px;
}

.products__cta{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.15rem;
    background-color: #242424;
    padding: var(--padding-buttons);
    border-radius: var(--buttons-radius);
}

.products__cta:hover{
    background-color: #000;
}

.card{
    text-align: center;
}

.card__img{
    width: 350px;
}

.card__copy{
    font-weight: 500;
}

.card__price{
    font-weight: 700;
}

/*  ABOUT SECTION  */

.about{
    display: flex;
    justify-content: space-between;
    padding: 180px 0 ;
}

.about__texts{
    width: 55%;
}

.about__tittle{
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.about__copy{
    font-size: 1.05rem;
    line-height: 2;
    color: rgb(107, 107, 107);
    margin-bottom: 60px;
}

.about__features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.feature__tittle{
    font-weight: 500;
    margin-bottom: 8px;
}

.feature__copy{
    color: var(--font-color);
    line-height: 1.8;
}

.about__img{
    width: 570px;
    border-radius: 16px;
}

.about__picture{
    position: relative;
    z-index: 1;
}

.about__dots{
    position: absolute;
    top: -90px;
    left: -102px;
    z-index: -1;
}

/* DESIGN */

.design{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    /* outline: 3px solid red; */
}

.design__picture{
    width: 50%;
    position: relative;
}

.design__img{
    width: 400px;
    border-radius: 20px;
}

.design__img--first{
    width: 500px;
    position: relative;
    z-index: 11;
}

.design__dots{
    position: absolute;
    top: -80px;
    left: -120px;
    z-index: 1;
}

.design__img--second{
    width: 250px;
    position: absolute;
    top: 0;
    left: 520px;
    
}

.design__img--third{
    width: 360px;
    position: absolute;
    top: 260px;
    left: 410px;
    z-index: 11;
}

.design__texts{
    width: 40%;
}

.design__tittle{
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 14px;
}

.design__copy{
    font-size: 1.05rem;
    line-height: 2;
    color: rgb(107, 107, 107);
    margin-bottom: 30px;
    font-weight: 400;
}

.design__lists{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    color: var(--font-color);
    padding-left: 20px;
    font-weight: 400;
    margin-bottom: 80px;
}

.design__list{
    list-style: circle;
}

.design__cta{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.15rem;
    background-color: #242424;
    padding: var(--padding-buttons);
    border-radius: var(--buttons-radius);
}

.design__cta:hover{
    background-color: #000;
}

/* LEGEND */

.legend{
    display: flex;
    justify-content: space-between;
    padding: 0 0 130px 0;
}

.legend__card{
    display: flex;
    align-items: center;
    width: 30%;
    gap: 8px;
}

.legend__texts{
    width: 80%;
}

.legend__tittle{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 3px;
    color: #242424;
}

.legend__copy{
    margin-bottom: 4px;
    font-size: .9rem;
    color: var(--font-color);
    font-weight: 400;
}

.legend__cta{
    text-decoration: none;
    font-size: .95rem;
    color: #242424;
    font-weight: 400;
}

.legend__cta:hover{
    color: #000;
}

.legend__img{
    width: 130px;
}

/* TESTIMONIALS */

.testimonials{
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonials__tittle{
    font-size: 2.5rem;
    font-weight: 400;
    
}

.testimonials__card{
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__copy{
    font-size: 1rem;
    color: #242424;
    font-weight: 400;
    margin-bottom: 35px;
    padding: 0 390px;
    line-break: auto;
}

.testimonials__img{
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    width: 105px;
    height: 105px;
}

.testimonials__name{
    font-size: 1.04rem;
}

.testimonials__profession{
    font-weight: 300;
    margin-bottom: 30px;
}

.testimonials__img--fipo{
    width: 135px;
    height:135px;
}

